
.item:hover {
  background-color: var(--light);
}

/* Modal  */
.customModal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 100; /* Overlay effect: positioned over other containers */
    position: fixed; /* Fix position on the top-left corner*/
    bottom: 10px;
    right: 10px;
}

.customModal-content {
    width: 20vw;
    max-width: 100%; /* Max width where it stops expanding */
    margin: auto; /* Auto margin according to the element width */
}

/* Modal  */
.deleteModal, .successModal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Overlay effect: translucent background: black w/ partial opacity */
    width: 100vw;
    height: 100vh;
    z-index: 100; /* Overlay effect: positioned over other containers */
    position: fixed; /* Fix position on the top-left corner*/
    left: 0;
    top: 0;
    padding-top: 30vh;
}

.deleteModal-content {
    background-color: white;
    width: 20vw;
    margin: auto; /* Auto margin according to the element width */
}

.successModal-content {
    width: 20vw;
    margin: auto; /* Auto margin according to the element width */
}

.spinner-grow-xl, .spinner-grow-xl-1delay, .spinner-grow-xl-2delay {
  margin: 2em;
  animation-duration: 1s;
  width: 3rem;
  height: 3rem;
}

.spinner-grow-xl-1delay {
  animation-delay: 100ms;
}

.spinner-grow-xl-2delay {
  animation-delay: 200ms;
}

.container {
  height: 100vh;
}

#updateLogo > svg:hover {
  cursor: pointer;
}
